<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Goyobot</title>
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">


	<div class="">
		<div style="margin-top:25px; margin-right:2vw;">
		<img src="/img/cnti_blanco.png" align="right" width="170vw" height="60vw">
		</div>
	</div>
	<!-- Styles -->
	<style>
		body {
			font-family: "Varela Round", sans-serif;
			margin: 0;
			padding: 0;
			background-color:#458CF6;
			background-size:100% 100%;
		}
		.container {
			display: flex;
			height: 100vh;
			align-items: center;
			justify-content: center;
			text-align:center;
		}
		.texto{
            text-align:left;
            margin-left:10%;
            margin-left:10%;
						margin-top: 90px;

		}
		.texto1{
			text-align:left;
            margin-left:20%;
		}
		.logo {
			text-align: center;
		}

		.titulo{
			padding-top: 30px;
		}

	</style>
</head>
<body>
	<div class="container">

		<table>
        	<tr>
           		<td>
					<div class="texto">
						<p><span></span></p>
                    	<br>
			<div style="height:900px;">

			</div>

			<div>
		        </div>

			<div>
                    	<h4 class="titulo"><span style="font-size:24px;color:white;" ><strong>GOYOBOT</strong></span></h4>

			</div>


                   	 <p class="_04xlpA direction-ltr align-justify para-style-body" style="text-align:justify;"><span style="font-size: 15px; font-weight: 400; color:white;">Soy el asistente virtual
                         venezolano, llevo por nombre “Goyo”, como un homenaje y tributo al Doctor José Gregorio Hernandéz (cariñosamente por su apodo), fui creado
                         para brindar información específica y puntual, en apoyo a las iniciativas científicas y tecnológicas aplicadas como consecuencia del Covid-19. He
                         sido diseñado para facilitar toda la información de importancia, que necesitamos conocer sobre esta enfermedad.
                         </span></p>

                         <p class="_04xlpA direction-ltr align-justify para-style-body" style="text-align:justify;"><span style="font-size: 15px; font-weight: 400; color:white;">Soy el asistente virtual venezolano, llevo por nombre “Goyo”, como un homenaje y tributo al Doctor José Gregorio Hernandéz (cariñosamente por su apodo), fui creado para brindar información específica y puntual, en apoyo a las iniciativas científicas y tecnológicas aplicadas como consecuencia del Covid-19.
                         He sido diseñado para facilitar toda la información de importancia, que necesitamos conocer sobre esta enfermedad. Algunas de las respuestas que te puedo otorgar son las siguientes:
			 </span></p>

                         <p class="_04xlpA direction-ltr align-justify para-style-body" style="text-align:justify;" ><span style="font-size: 15px; font-weight: 400; color:white;">Conoce a <strong>José
                         Gregorio Hernández: un científico venezolano convertido en santo
                         <stro </span></p>

                         <p class="_04xlpA direction-ltr align-justify para-style-body" style="text-align:justify;"><span style="font-size: 15px; font-weight: 400; color:white;">El legado científico del
                        “Médico de los Pobres” es tan sorprendente como cada uno de los milagros que le son atribuidos.El doctor José Gregorio Hernández, llamado
                         también “El Venerable”, el “Médico de los Pobres” o el “Siervo de Dios”, fue un venezolano con una amplia trayectoria cientfica,
                         que con su conocimiento, estudios, investigaciones, libros y artículos dejó valiosos aportes para la evolución del ejercicio de la medicina en
                         el país. </span></p>

                         <p class="_04xlpA direction-ltr align-justify para-style-body" style="text-align:justify;"><span style="font-size: 15px; font-weight: 400; color:white;">Desde la escuela hasta la
                         universidad, el hoy beato científico venezolano fue un destacado estudiante y un médico con una alta preparación académica. El doctor José
                         Gregorio Hernández hablaba seis idiomas: inglés, alemán, francés, italiano, portugués y latín. En su carrera como profesor universitario se le
                         atribuye la enseñanza del uso del microscopio en la cátedra de Medicina y de otros instrumentos médicos en Venezuela. Además, fue el primero en
                         mostrar la toma de la tensión arterial a sus alumnos con los tensiómetros modernos.  </span></p>

                         <p class="_04xlpA direction-ltr align-justify para-style-body" style="text-align:justify;"><span style="font-size: 15px; font-weight: 400; color:white;"><strong>PADRE DE LA
                         BACTERIOLOGÍA Y MEDICINA EXPERIMENTAL<stro </span></p>

                        <p class="_04xlpA direction-ltr align-justify para-style-body" style="text-align:justify;"><span style="font-size: 15px; font-weight: 400; color:white;"> Hernández es considerado
                        el fundador de la bacteriología en Venezuela, área a la que dedicó especial atención durante su ejercicio profesional, debido a la realidad
                        sanitaria del país con enfermedades como la tuberculosis y fiebre tifoidea. Recién graduado de médico, en el año 1888, en la Universidad Central de
                        Venezuela (UCV), presentó dos temas relacionados con esta área: 1) la doctrina de Laennec, que asienta la unidad del tubérculo, frente a la escuela
                        de Virchow, que sostiene la dualidad; y 2) la fiebre tifoidea típica de presentarse en Caracas. El Dr. José Gregorio Hernández estudió en Francia
                        teoría y práctica en las especialidades de microscopia, histología normal y patológica, bacteriología y fisiología experimental. En Berlín
                        profundizó sus estudios en histología y anatomía patológica y realizó un curso de bacteriología. En Estados Unidos realizó también estudios
                        para aprender nuevas técnicas de bacteriología. </span></p>

                        <p class="_04xlpA direction-ltr align-justify para-style-body" style="text-align:justify;"><span style="font-size: 15px; font-weight: 400; color:white;"> En París compró un
                        laboratorio de fisiología, por instrucciones del gobierno de la época, a cargo Raimundo Andueza Palacios. Este laboratorio era semejante al de la
                        Universidad de París y fue instalado en la UCV, en donde fue fundador y director de las cátedras de Histología Normal, Patología y la de
                        Bacteriología, la cual fue la primera fundada en América Latina. Posteriormente, creó la cátedra de Parasitología. Gracias a este médico
                        trujillano, nacido en Isnotú el 26 de octubre de 1864, comenzó en Venezuela la verdadera docencia científica y pedagógica, a base de lecciones
                        explicativas, con observación de los fenómenos vitales, la experimentación sistematizada, prácticas de vivisección, pruebas de laboratorio y
                        cultivo de microbios. </span></p>

                        <p class="_04xlpA direction-ltr align-justify para-style-body" style="text-align:justify;"><span style="font-size: 15px; font-weight: 400; color:white;"> El Dr. José Gregorio
                        Hernández -quien falleció a los 54 años de edad, en la parroquia La Pastora de Caracas, el 29 de junio de 1919- fue el primer venezolano en
                        publicar un trabajo de investigación sobre anatomía patológica práctica y uno de los 35 fundadores de la Academia Nacional de Medicina en la
                        nación suramericana. Su formación científica fue sólida, pues desde sus primeros años de estudios médicos contó con maestros de gran talla,
                        como Adolfo Ernst y Adolfo Frydensberg. En Europa, fue alumno en fisiología de Charles Richet, quien fue Premio Nobel de Medicina en 1913; de Mathias
                        Duval, en histológicas y embriología; de Isador Strauss, en microbiología, quien premió a Hernández con una medalla por ser su mejor alumno, y en
                        Madrid recibió clases con Santiago Ramón y Cajal, Premio Nobel de Medicina en 1906.
                        </span></p>

                       <p class="_04xlpA direction-ltr align-justify para-style-body"><span style="font-size: 15px; font-weight: 400; color:white;"><strong>ESTUDIOS SOBRE
                       GLÓBULOS ROJOS<strong/></span></p>

		       <p class="_04xlpA direction-ltr align-justify para-style-body" style="text-align:justify;"><span style="font-size: 15px; font-weight: 400; color:white;"> Hernández comprobó los
                       hechos relacionados a la numeración globular roja y las presentó al I Congreso Médico Panamericano de Washington en 1892. En el resumen de este
                       trabajo publicado en la Gaceta Médica de Caracas de 1893-94, expresa: “Creemos que el número de los glóbulos rojos es menor en los habitantes de
                       las regiones intertropicales que en los de las regiones templadas, y suponemos que esta hipoglobulia depende del organismo que teniendo menos pérdidas
                       de calor por la irradiación, disminuye la producción globular. Y por este hecho está perfectamente de acuerdo con la opinión antigua de que los
                       países cálidos son los países anemiantes por excelencia”. </span></p>

                       <p class="_04xlpA direction-ltr align-justify para-style-body"><span style="font-size: 15px; font-weight: 400; color:white;"><strong>ESTUDIOS SOBRE
                       ANGINA DE PECHO <strong/></span></p>

                      <p class="_04xlpA direction-ltr align-justify para-style-body" style="text-align:justify;"><span style="font-size: 15px; font-weight: 400; color:white;">Junto a Nicanor Guardia, el
                      Dr. José Gregorio Hernández escribió para un estudio dedicado a la Facultad de Medicina de Madrid sobre la angina de pecho de naturaleza paludosa. En
                      este trabajo científico, publicado en la Gaceta Médica de Caracas de 1894, destacó la observación de tres casos, que le sirvieron de base para
                      estudiar con más detalle esta enfermedad poco conocida y mal estudiada para ese moment</span></p>

                      <p class="_04xlpA direction-ltr align-justify para-style-body"><span style="font-size: 15px; font-weight: 400; color:white;"><strong> LIBRO DE BACTERIOLOGíA<strong/></span></p>

                      <p class="_04xlpA direction-ltr align-justify para-style-body"><span style="font-size: 15px; font-weight: 400; color:white;">En 1906, el médico de los
                      pobres publicó una de sus obras más importantes: Elementos de Bacteriología, primer texto de esa especialidad editado en el país y en el que a lo largo
                      de sus 194 páginas presentó las definiciones de bacteriología, los microbios, microbios vegetales, animales, sus formas, coccus, bacilos, spirilos,
                      clasificación de Pasteur, entre otros. Este libro fue referencia durante muchos años en la cátedra de Bacteriología de la UCV. </span></p>

                      <p class="_04xlpA direction-ltr align-justify para-style-body"><span style="font-size: 15px; font-weight: 400; color:white;"><strong>ESTUDIOS DE PULMONÍA <strong/></span></p>

                      <p class="_04xlpA direction-ltr align-justify para-style-body" style="text-align:justify;"><span style="font-size: 15px; font-weight: 400; color:white;"> Además, Hernández realiz
                  ó  estudios de las denominadas lesiones anatomopatológicas de la pulmonía simple o crupal, publicado en la Gaceta Médica de Caracas de 1910, con los que
                      demostró que dicha enfermedad era bastante común en Caracas, muy al contrario de lo que se creía en la época, considerada una afección rara o
                      excepcional. En su trabajo sobre pulmonía, el Dr. Hernández concluyó: “La muerte puede sobrevenir en cualquiera de los períodos de la pulmonía.
                      La causa de muerte es por agotamiento del corazón por excesivo funcionamiento (…) De estas consideraciones podemos deducir la regla de conducta que
                      debemos observar en presencia de un caso de pulmonía, fácil de sintetizar: en el tratamiento de la pulmonía lo primero es defender el corazón”.
                      </span></p>

                      <p class="_04xlpA direction-ltr align-justify para-style-body"><span style="font-size: 15px; font-weight: 400; color:white;"><strong>ESTUDIOS SOBRE FIEBRE
                      AMARILLA, TUBERCULOSIS Y BILHARZIASIS <strong/></span></p>

                      <p class="_04xlpA direction-ltr align-justify para-style-body" style="text-align:justify;"><span style="font-size: 15px; font-weight: 400; color:white;">Entre otras de sus publicaciones,
                      se encuentra De la nefritis en la fiebre amarilla, en colaboración con el doctor Felipe Guevara Rojas, en el año 1910, en la que explicó que las
                      lesiones encontradas eran: “aumento de volumen y congestionamiento, manchas equiomáticas y sangre en la orina, lesiones en los glomérulos de
                      Malpigio... Apartando los casos fulminantes que destrozan el hígado por esteatosis sobreaguda, podemos establecer para los demás la siguiente ley: en el
                      tratamiento de la fiebre amarilla lo primero es defender el riñón”. El Dr. José Gregorio Hernández realizó los primeros trabajos para el
                      tratamiento de la tuberculosis con el aceite de chaulmoogra (Ginocarda odorata), el cual se usaba hasta esa fecha para tratar la lepra. Este estudio lo
                      presentó a través de una nota preliminar en una sesión de la Academia de Medicina en 1918, en la que apuntó: “el aceite de chaulmoogra
                      ciertamente mata al bacilo de Koch, los enfermos tratados mejoran su estado general después de la inyección. Las inyecciones de uno o dos cc, separados
                      por largos intervalos es lo mejor". </span></p>

                      <p class="_04xlpA direction-ltr align-justify para-style-body" style="text-align:justify;"><span style="font-size: 15px; font-weight: 400; color:white;">Adicionalmente, el médico
                      de los pobres realizó un estudio de gran importancia sanitaria acerca del flagelo de la bilharziasis, trabajo que sirvió para alertar tanto al gremio,
                      como al público, sobre la importancia de la terrible endemia y evidenció que su presencia en el país era mucho mayor de lo que se pensaba en ese
                      entonces. </span></p>

                     <p class="_04xlpA direction-ltr align-justify para-style-body" style="text-align:justify;"><span style="font-size: 15px; font-weight: 400; color:white;"><strong>MEDICINA
                      PSICOSOMÁTICA<strong/></span></p>

                     <p class="_04xlpA direction-ltr align-justify para-style-body" style="text-align:justify;"><span style="font-size: 15px; font-weight: 400; color:white;">Hernández sabía de medicina
                     psicosomática, mucho antes de que se hablara de ella. Aunque no era psicólogo, conocía la importancia de la psique en el desarrollo de muchas
                     enfermedades. Sobre neuropatología escribe en relación a Santa Teresa de Jesús, rechazando el diagnóstico de histerismo dado a la santa: </span></p>

                     <p class="_04xlpA direction-ltr align-justify para-style-body" style="text-align:justify;"><span style="font-size: 15px; font-weight: 400; color:white;">“La neuropatología nos
                     enseña a conocer perfectamente el histerismo, de tal suerte que apenas hay enfermedad de más fácil diagnóstico. Es una enfermedad del sistema nervioso
                     que carece de localización anatomopatológica y que presenta distintos grados de desarrollo, pero en todos los enfermos se observan ciertos rasgos
                     morales peculiares que se descubren prontamente…”.Por si fuera poco, la producción de trece ensayos científicos, la mayoría de ellos publicados
                     en la Gaceta Médica de Caracas, a la lista de textos del Dr. José Gregorio Hernández se le suman otras obras sobre religión, filosofía y artes, a
                     mencionar: Elementos de Filosofía (1912), El señor Nicanor Guardia (1893), Visión del arte (1912), En un vagón (1912) y Los Maitines (1912). Todos
                     estos aportes evidencian la influencia transcendental del Dr. José Gregorio Hernández para la evolución de la medicina de la época.
                     No en vano muchos hospitales, institutos educativos, universidades, centros de investigación y laboratorios clínicos en el país llevan su nombre,
                     ya que entre la comunidad científica venezolana el Siervo de Dios también dejó huellas significativas de amor por el ejercicio de la medicina,
                     por la docencia, el desarrollo del país y el bienestar de los más necesitados.</span></p>



                  	</div>


					</div>
				</td>
    		</tr>
    	</table>
			<div class="container">
					<div class="chatbox">
							<div class="chatbox__support">
									<div class="chatbox__header">
											<div class="chatbox__content--header">
													<h4 class="chatbox__heading--header">Goyobot</h4>
											</div>
									</div>
									<div class="chatbox__messages">
										 <!---adentro del chat --->
											<div>
													<div class="messages__item messages__item--visitor">
															Hola, soy Goyobot!
													</div>
													<div class="col ">
														<p class="" id="response"></p>
													</div>
													<div class="messages__item messages__item--typing">
															<span class="messages__dot"></span>
															<span class="messages__dot"></span>
															<span class="messages__dot"></span>
													</div>
											</div>
									</div>
									<form class="" action="index.html" method="post">
										<div class="chatbox__footer ">
												<input class="text-left form-control" type="text" name="question" id="question" placeholder="Haz una pregunta...">
												<button class="btn btn-primary btn-block d-none" id="submit-button">Pregunta</button>
										</div>
									</form>
							</div>
							<div class="chatbox__button">
									<button>
										<img src = "{{url_for ('static', filename = './images/icon.png')}}" >
									</button>
							</div>
					</div>
			</div>




</html>
